.gotoWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.gotoWrapper button {
  border-radius: 5px;
  position: fixed;
  bottom: 2rem;
  border: 1px solid gainsboro;
  z-index: 999;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  right: 50px;
}
