.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::-webkit-scrollbar-track {
  background-color: #f8f9fa;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(20, 20, 20, 0.342);
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(20, 20, 20, 0.473);
}
